.apiArea{
    width: 100%;
    border: 1px solid black;
    background-color: #bbb;
    padding-bottom:10%;
    overflow:hidden ;
    position: relative;
    margin:0 auto;
  }
  .apiArea h1{
    position: absolute;
    top: 10%;
    left: 40%;

  }
  
  .apiArea img{

  }

  .imgArea{    
    margin-top: 50px;
    height: 900px;
    justify-content: space-around;
  }
  
  div.img{
    width: 300px;
    height: 300px;
    float: left;
    margin: 10px;
    border: 1px solid black;
  
  }
  
  .setBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .noneApi{
    /*여기서 이미지영역 넓이 지정*/
    width: 85%;
    height: 2000px;
    /* border: 1px solid red; */
  
  }
  
  #uploadIcon{
    
    background-color: rgb(24, 219, 24);
    width: 80px;
    height: 40px;
    border: none;
  }
  
  .profileIcon{
    margin-left: auto;
    width : 40px;
    height : 40px;
    border-radius: 50%;
    background-color: tomato;
  }
  
  #topMenuBar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: auto;
    /* background-color: white;  */
    /* border: 1px solid orange; */
    display: flex;
    justify-content: flex-start;
  }
  
  #topMenuBar > *{
   margin-top: 10px;
   margin-bottom: 10px;
   margin-right: 15px;
  }
  
  .search{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  
  .search input{
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
  }
  
  
  .top-search{
    width: 60%;
    margin-left: 50px;
  }
  
  .top-search input{
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
  }
  
  .scroll-color {
    background-color:white;
    transition: 0s;
  }
  
  .scrolled-color { 
    background-color:transparent;
    transition: 0s;
  }
  
  
  
  